<app-toast-container>
</app-toast-container>

<!--Update-->
<app-modal
  [IsOpen]="showUpdateModal()"
  (close)="closeUpdateModal()">

  <!-- Header -->
  <div modal-header>
    <h2 class="text-xl font-semibold">
      Update Leave Request
    </h2>
    <p class="text-sm text-gray-500">
      Modify your leave request details.
    </p>
  </div>

  <!-- Body -->
  <div modal-body class="space-y-4">

    <!-- Start Date -->
  <form [formGroup]="updateForm">
  <!-- Start Date -->
  <div>
    <label class="block text-sm font-medium mb-1">
      Start Date
    </label>

    <input
      type="date"
      class="w-full rounded-md border p-2 cursor-pointer"
      formControlName="startDate">

    @if (
      updateForm.controls.startDate.touched &&
      updateForm.controls.startDate.hasError('required')
    ) {
      <div class="mt-1 text-sm text-red-600">
        Start date is required.
      </div>
    }
  </div>

  <!-- End Date -->
  <div>
    <label class="block text-sm font-medium mb-1">
      End Date
    </label>

    <input
      type="date"
      class="w-full rounded-md border p-2 cursor-pointer"
      formControlName="endDate">

    @if (
      updateForm.controls.endDate.touched &&
      updateForm.controls.endDate.hasError('required')
    ) {
      <div class="mt-1 text-sm text-red-600">
        End date is required.
      </div>
    }
  </div>

  <!-- Description -->
  <div>
    <label class="block text-sm font-medium mb-1">
      Description
    </label>

    <textarea
      rows="4"
      class="w-full rounded-md border p-2 resize-none"
      placeholder="Reason for leave..."
      formControlName="description">
    </textarea>

    @if (
      updateForm.controls.description.touched &&
      updateForm.controls.description.hasError('required')
    ) {
      <div class="mt-1 text-sm text-red-600">
        Description is required.
      </div>
    }
  </div>
</form>

  </div>

  <!-- Footer -->
  <div modal-footer class="flex justify-between w-full">

    <div class="flex gap-2">

      <button
        type="button"
        class="rounded-md border px-4 py-2 cursor-pointer"
        (click)="closeUpdateModal()">
        Cancel
      </button>

      <button
        type="button"
        class="rounded-md bg-blue-600 px-4 py-2 text-white hover:bg-blue-700 cursor-pointer"
        (click)="updateRequest()">
        Save Changes
      </button>

    </div>

  </div>

</app-modal>

<!--View-->
<app-modal
  [IsOpen]="showViewModal()"
  (close)="closeViewModal()">


  <!-- Header -->
  <div modal-header>
    <h2 class="text-xl font-semibold">Leave Request Details</h2>
    <p class="text-sm text-gray-500">
      View the details of your leave request.
    </p>
  </div>

  <!-- Body -->
  <div modal-body class="space-y-4">
@if(selectedRequest()){
    <div class="grid grid-cols-2 gap-4">

      <div>
        <p class="text-sm text-gray-500">Leave Type</p>
        <p class="font-medium">{{ selectedRequest()?.leaveName }}</p>
      </div>

      <div>
        <p class="text-sm text-gray-500">Status</p>
        <span
          class="inline-flex rounded-full px-3 py-1 text-sm font-medium"
          [ngClass]="getColor(selectedRequest()!.status)">
          {{ selectedRequest()!.status }}
        </span>
      </div>

      <div>
        <p class="text-sm text-gray-500">Request Date</p>
        <p>{{ selectedRequest()?.requestDate | date }}</p>
      </div>

      <div>
        <p class="text-sm text-gray-500">Processed Date</p>
        <p>
          {{ selectedRequest()?.processedDate
              ? (selectedRequest()?.processedDate | date:'medium')
              : 'Not processed yet' }}
        </p>
      </div>

      <div>
        <p class="text-sm text-gray-500">Start Date</p>
        <p>{{ selectedRequest()?.startDate | date }}</p>
      </div>

      <div>
        <p class="text-sm text-gray-500">End Date</p>
        <p>{{ selectedRequest()?.endDate | date }}</p>
      </div>

      <div>
        <p class="text-sm text-gray-500">Leave Days</p>
        <p>{{ selectedRequest()?.leaveDays }}</p>
      </div>

    </div>

    <hr>

    <div>
      <p class="text-sm text-gray-500 mb-1">Description</p>
      <div class="rounded-md border bg-gray-50 p-3 min-h-20">
        {{ selectedRequest()?.description || 'No description provided.' }}
      </div>
    </div>

    @if(selectedRequest()?.status === 'Rejected') {
      <div>
        <p class="text-sm font-medium text-red-600 mb-1">
          Rejection Reason
        </p>

        <div class="rounded-md border border-red-200 bg-red-50 p-3">
          {{ selectedRequest()?.rejectionReason }}
        </div>
      </div>
    }
  }
  </div>

  <!-- Footer -->
  <div modal-footer>
@if(selectedRequest()){
    <div class="flex gap-3">

       @if(selectedRequest()!.status === 'Pending'){
          <button (click)="openCancelModal(selectedRequest()!.id)"
            class="rounded bg-red-600 px-3 py-1 text-white hover:bg-red-700 cursor-pointer">
                Cancel
          </button>
        }

         @if(selectedRequest()!.status === 'Pending'){

            <button (click)="openUpdateModal(selectedRequest()!.id)"
              class="rounded bg-yellow-500 px-3 py-1 text-white hover:bg-yellow-600 cursor-pointer">
                Edit
            </button>
                      
          }
      <button type="button"
        class="rounded-md bg-gray-700 px-4 py-2 text-white hover:bg-gray-800 cursor-pointer"
        (click)="closeViewModal()">
          Close
      </button>

    </div>
}
  </div>

</app-modal>

<!--Cancel-->
<app-modal
  [IsOpen]="showCancelModal()"
  (close)="closeCancelModal()">

  <!-- Header -->
  <div modal-header>
    <h2 class="text-xl font-semibold text-red-600">
      Cancel Leave Request
    </h2>
  </div>

  <!-- Body -->
  <div modal-body>

    <p class="text-gray-700">
      Are you sure you want to cancel this leave request?
    </p>

    <p class="mt-2 text-sm text-gray-500">
      This action cannot be undone.
    </p>

  </div>

  <!-- Footer -->
  <div modal-footer>

    <div class="flex gap-3">
      <button
        class="border rounded-md px-4 py-2 cursor-pointer"
        (click)="closeCancelModal()">
        Keep Request
      </button>

      <button
        class="bg-red-600 text-white rounded-md px-4 py-2 cursor-pointer"
        (click)="cancelLeaveRequest()">
        Cancel Request
      </button>
    </div>

  </div>

</app-modal>

<div class="flex max-h-[calc(100dvh-64px)] overflow-hidden bg-gray-100 font-stack">
  <main class="p-8 flex-1 flex flex-col min-h-0">

    <!-- Header -->
    <div class="mb-8 flex items-center justify-between">
      <div>
        <h2 class="text-3xl font-bold text-gray-800">
          My Dashboard
        </h2>
        <p class="text-gray-500">
          Manage your leave requests and monitor their status.
        </p>
      </div>

    </div>

    <!-- My Requests Stats -->
    <div class="grid gap-6 md:grid-cols-2 xl:grid-cols-4">

      <div class="rounded-xl bg-white p-6 shadow">
        <p class="text-gray-500">Total Requests</p>
        <h3 class="mt-2 text-4xl font-bold text-blue-600">
          @if(query.EmployeeDashBoardData()){
            {{ totalRequests() }}
          }@else{
            0
          }
        </h3>
      </div>

      <div class="rounded-xl bg-white p-6 shadow">
        <p class="text-gray-500">Pending</p>
        <h3 class="mt-2 text-4xl font-bold text-yellow-500">
          @if(query.EmployeeDashBoardData()){
            {{ totalPendingRequest() }}
          }@else{
            0
          }
        </h3>
      </div>

      <div class="rounded-xl bg-white p-6 shadow">
        <p class="text-gray-500">Approved</p>
        <h3 class="mt-2 text-4xl font-bold text-green-600">
          @if(query.EmployeeDashBoardData()){
            {{ totalApprovedRequest() }}
          }@else{
            0
          }
        </h3>
      </div>

      <div class="rounded-xl bg-white p-6 shadow">
        <p class="text-gray-500">Rejected</p>
        <h3 class="mt-2 text-4xl font-bold text-red-600">
          @if(query.EmployeeDashBoardData()){
            {{ totalRejectedRequest() }}
          }@else{
            0
          }
        </h3>
      </div>

    </div>

    <!-- My Recent Requests -->
    <div class="mt-10 rounded-xl bg-white shadow flex-1 flex flex-col min-h-0">

      <div class="flex items-center justify-between border-b p-6">
        <div>
          <h3 class="text-xl font-semibold">
            My Recent Requests
          </h3>
          <p class="text-sm text-gray-500">
            Your latest leave request history.
          </p>
        </div>
      </div>

      <div class="flex-1 overflow-y-auto overflow-x-auto custom-scrollbar">

        <table class="min-w-full">

          <thead>

            <tr class="">

              <th class="sticky bg-gray-100 top-0 px-6 py-3 text-center">
                Leave Type
              </th>

              <th class="sticky bg-gray-100 top-0 px-6 py-3 text-center">
                Date Filed
              </th>

              <th class="sticky bg-gray-100 top-0 px-6 py-3 text-center">
                Start Date
              </th>

              <th class="sticky bg-gray-100 top-0 px-6 py-3 text-center">
                End Date
              </th>

              <th class="sticky bg-gray-100 top-0 px-6 py-3 text-center">
                Status
              </th>

              <th class="sticky bg-gray-100 top-0 px-6 py-3 text-center">
                Actions
              </th>

            </tr>

          </thead>

          <tbody>

            @if(query.EmployeeDashBoardData() && query.EmployeeDashBoardData()!.length > 0){

              @for(request of query.EmployeeDashBoardData(); track request.id){

              <tr class="hover:bg-gray-50 border-y border-gray-300">

                <td class="px-6 py-4 text-center">
                  {{ request.leaveName }}
                </td>

                <td class="px-6 py-4 text-center">
                  {{ request.requestDate | date }}
                </td>

                <td class="px-6 py-4 text-center">
                  {{ request.startDate | date }}
                </td>

                <td class="px-6 py-4 text-center">
                  {{ request.endDate | date }}
                </td>

                <td class="px-6 py-4 text-center">

                  <span
                    class="rounded-full px-3 py-1 text-sm"
                    [class]="getColor(request.status)">
                    {{ request.status }}
                  </span>

                </td>

                <td class="px-6 py-4">

                  <div class="flex justify-center gap-2">

                   

                    <button
                      (click)="openViewModal(request.id)"
                      class="rounded bg-blue-600 px-3 py-1 text-white hover:bg-blue-700 cursor-pointer">
                      View
                    </button>
                    
                  </div>

                </td>

              </tr>

              }

            }@else{

              <tr>

                <td colspan="5" class="py-12 text-center text-gray-500">

                  No leave requests yet.

                </td>

              </tr>

            }

          </tbody>

        </table>

      </div>

    </div>

  </main>
</div>
